
* {
	font-family: sans-serif;
	font-size: 12pt;
}

H1 { font-size: 18pt; margin: 0px; padding: 8px 0px 8px 0px; }
H2 { font-size: 16pt; margin: 0px; padding: 8px 0px 8px 0px; }
H3 { font-size: 14pt; margin: 0px; padding: 8px 0px 8px 0px; }
H4 { font-size: 12pt; margin: 0px; padding: 8px 0px 8px 0px; }
H5 { font-size: 10pt; margin: 0px; padding: 8px 0px 8px 0px; }
H6 { font-size: 9pt; margin: 0px; padding: 8px 0px 8px 0px; }

BODY {
	margin: 0px;
	color: #000000;
	background-color: #ffffff;
}

FORM {
	margin: 0px;
	padding: 0px;
}

.error {
	color: #ff0000;
}

.header {
	color: #ffffff;
	background-color: #000000;
}

.logo {
	font-weight: bold;
}

.header-item {
	cursor: pointer;
	display: inline-block;
	padding: 4px;
	white-space: nowrap;
}

.header-item-over {
	background-color: #666666;
}

.header-item-active {
	background-color: #666666;
}

.account-menu {
	cursor: pointer;
	color: #ffffff;
	background-color: #000000;
}

.account {
	float: right;
}

.content {
	padding: 20px 8px 20px 8px;
}

.title {
	font-size: 12pt;
	font-weight: bold;
}

.button {
	display: inline-block;
	margin: 2px;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
	background-color:#ccffcc;
	border: #999999 1px solid;
	font-size: 12pt;
	font-weight: bold;
}

.button-over {
	border-color: #99ff99;
}

.delete-button {
	display: inline-block;
	margin: 2px;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
	background-color:#ccffcc;
	border: #999999 1px solid;
	font-size: 12pt;
	font-weight: bold;
}

.delete-button-over {
	border-color: #99ff99;
}

.circuit {
}

.pages {
	margin: 2px;
}

.list-item {
	background-color: #f0f0f0;
	padding: 4px;
	margin: 4px 0px 4px 0px;
	width: 792px;
}

.img-link {
	background-color: #ffffdd;
	border: #cccccc 1px solid;
	width: 220px;
	margin: 2px;
}

TABLE.std {
	border-collapse: collapse;
	margin: 0px;
	padding:0px;
}

TABLE.std, TABLE.std TR, TABLE.std TD {
	border-style: none;
	border-width: 0px;
}

TABLE.std TH {
	text-align: right;
	padding: 0px 4px 0px 0px;
}

TABLE.std TD {
	padding: 0px;
}

DIV.terms UL, DIV.terms LI {
	font-size: 10pt;
}